/* =============
    Typography
============= */


p {
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
 }

 h1 {
    font-family: 'MinecrafterAltRegular';
    font-weight: normal;
    font-style: normal;
 }