/* =============
    section 2
============= */

#section2{

    background-color: $brown;
    text-align: center;
    font-size: 15px;
    padding: 30px 70px;


    @include md{
        font-size: 15px;
        padding: 50px 100px;
    }
    @include lg{
        font-size: 20px;
        padding: 60px 150px;
    }
}