/* =============
    section 1
============= */


#section-1 {
    margin-top: 0em;
    background-image: url('../img/section1/hero.jpg');
    background-size: cover;
    background-position: 35%;
    height: 400px;
    

    @include md {
        background-position: right;
        height: 450px;
    }

    @include lg {

        background-position: 70% 15%;
        height: 550px;
    }
}